
*   {
    box-sizing: border-box;
}
body    {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/photo1.jpg");
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}
.header {
    width: 1080px;
    height: 200px;
    margin: auto;
    overflow: auto;
    padding-left: -400px;
    margin-left: 115px;
    
}

#head  {
    color:  Black;
    font-size: 50px;   
    width: 500px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 2px 2px lightgray;
   

}
table   {
    float: right;
    width: 250px;
    margin-top: -40px;

}
th  {
    width: 70px;
    text-align: right;
    color: #cccccc;
    
}
#about  {
    text-align: center;
}

#about:hover{
    font-size: larger;
}

#portfolio  {

    text-align: center;
    width: 75px;
}

#portfolio:hover    {
    font-size: larger;
}

#contact1    {
    text-align: center;
    padding-right: -30px;
}

#contact:hover {
    font-size: larger;
}

.main-content   {
    position: relative;
    padding-top: 80px;
    margin-top: -80px;
}
/* #background-pattern {
    border-bottom-width: 5px;
    border-bottom-color: #4aaaa5;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-color: #cccccc;
    border-top-style: solid;
} */
#about-me   {
    margin-top: 70px;
    width: 960px;
    margin: auto;
    background-color: #d67e48;
    /*margin-top: -450px;*/
    position: absolute;
    right: 0px;
    left: 2px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
}

#main   {
    color: black;
    background-color: #d67e48;
    padding-top: 0px;
    margin-bottom: 15px;
    margin-top: 5px;
}
p   {
    background-color: #d67e48;
    padding-top: 20px;
    line-height: 1.75;
    font-size: 115%; 
}
#kelly-image {
    float: left;
    margin-right: 25px;
}
#footer  {
    text-align: center;
    height: 40px;
    width: 100%;
    margin-top: 0;
    padding-top: 0px;
    color: #cccccc;
    position: fixed;
    bottom: 0px;
}

#foot   {
    color: #cccccc;
    font-size: 20px;
    padding-top: 0px;
    margin-bottom: 10px;
}

#foot:hover {
    color: lightskyblue;
}
.contact   {
    color: black;
    width: 600px;
    margin: auto;
    background-color: #d67e48;
    margin-top: -20px;
    position: absolute;
    right: 0px;
    left: 2px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
}
#form   {
    text-align: left;
    background-color: #d67e48;
    padding-top: 15px;
    
}

#email  {
    color: darkmagenta;
}

#email:hover  {
    color: blue;
}
#main-contact   {
    color: black;
    background-color: #d67e48;
    text-align: left;
    margin-bottom: 15px;
}

.name-email {
    border-radius: 5px;
}

#message {
    border-radius: 5px;
    border-color: rgb(186, 183, 183);
}

#submit {
    border-radius: 10px;
    color:  #ffffff;
    background-color: rgb(29, 76, 146);
    width: 80px;
    height: 25px  
}
#submit:hover {
    background-color: #ffcc00;
    color: black;
    }

#message    {
    height: 100px;
    width: 560px;
}
.name-email {
    width: 560px;
}
.header2    {
    width: 600px;
    margin: auto;
    overflow: auto;
} 
#main-portfolio   {
    background-color: #d67e48;
    text-align: left;
    margin-bottom: 15px;
    margin-left: -5px;
    padding-bottom: 13px;
}
h6  {
    color: white;
    text-align: center;
    width: 25%;
    height: 30px;
    padding-top: 9px;
    margin: 0;   

}
#table1 {
    width: 575px;
    margin-top: 10px;
    height: 275px;
    padding: 10px;
}
td  {
    width: 30%;
}
.label  {
    width:60%;
    position: relative;
    top: -25px;
}

.picture-text {
    color: darkmagenta;
    background-color: lightgray;
    border: solid black 1px;
}

.picture-text:hover {
    color: blue;
    font-size: larger;
}


.img    {
    border: solid black 1px;
    border-radius: 8px;
}

@media screen and (max-width: 980 px)   {
    .header{
        background-color: yellowgreen;
    }
    .contact{
        margin-top: -350px;
    }
    #table1 {
        padding: 0px;
    }
}

@media screen and (max-width: 768 px)   {
    #table1 {
        width: 400px;
    }
}

@media screen and (max-width: 640 px)   {
    .header {
        position: static;
    }
    #footer {
        position: sticky;
    }
    
}